@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Base Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #111;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

/* Header */
h1 {
  font-weight: 500;
  font-size: 2rem;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 15;
  transition: all 0.5s ease;
}

.main-nav.active {
  left: 0;
}

.main-nav li {
  text-align: center;
}

.main-nav a {
  font-size: 2.2rem;
  color: #111;
  font-weight: 300;
}

.main-nav a:hover {
  color: #fff;
}

.main-nav .social-bar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.social-bar li {
  margin-bottom: 2rem;
}

.main-nav .social-bar img {
  width: 1rem;
  transition: transform 0.3s ease;
}
.main-nav .social-bar img:hover {
  transform: scale(1.1);
}
.main-nav .email {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}
#logo {
  position: absolute;
  top: 30px;
  left: 40px;
  font-weight: 700;
  font-size: 1.5rem;
  z-index: 20;
}

/* Toggle */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  background: var(--primary-color) url(../img/menu.png) no-repeat center
    center/cover;
  z-index: 20;
  background-size: 2rem;
  cursor: pointer;
}

.toggle.active {
  background: var(--primary-color) url(../img/close.png) no-repeat center
    center/cover;
  background-size: 1.5rem;
}
.home-img {
  display: none;
}

/* section Home */
.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
}
.home-content {
  max-width: 600px;
  z-index: 10;
}

p {
  font-size: 1.1rem;
}

/* Services */
.title {
  max-width: 900px;
}
.services-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 3rem;
  gap: 4rem;
}

.services .service {
  padding: 2rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
}

.services .service h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-color);
}
.services .service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.services-content img {
  max-width: 100px;
  padding-bottom: 2rem;
}

/* Work */
.portfolio {
  /* display: grid;
  grid-template-columns: 1fr;
  justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio .item {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 1rem;
  position: relative;
  transition: 0.4s ease;
}

.portfolio .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .item:hover .action {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
}

.portfolio .item a {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
}

/* Contact */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form {
  background: #f9f9f9;
  padding: 1.875rem 1.875rem 1.25rem;
  width: 100%;
}

.contact-form form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  color: #111;
  background: transparent;
  outline: none;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.2);
  resize: none;
}
.contact-form .row input[type="submit"] {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
}
form .row textarea {
  height: 9.375rem;
}
.info-box .contact-icon {
  width: 1.3rem;
  height: 1.3rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #f9f9f9;
  padding: 1.875rem 1.875rem 1.25rem;
  margin-top: 1.25rem;
}
.contact-info .info-box {
  display: flex;
  gap: 2rem;
}

.contact-info .info-box .details {
  margin-bottom: 3rem;
}
.info-box h4 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.info-box a {
  color: #111;
  display: block;
}
@media (min-width: 768px) {
  #logo {
    font-size: 2rem;
    position: absolute;
    top: 30px;
    left: 80px;
  }

  .home {
    padding: 0 4rem;
  }
  .services,
  .work,
  .contact {
    padding: 0 3rem;
  }

  .services-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .services-content img {
    max-width: 60px;
  }

  .contact-info {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .home-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 40%;
  }

  .services-content {
    grid-template-columns: repeat(3, 1fr);
  }

  #contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
  }

  .contact-info,
  .contact-form {
    padding: 3.75rem 2.5rem 1.25rem;
  }
  .contact-form .row {
    width: 100%;
    display: flex;
  }

  .contact-form .input50 {
    width: 50%;
    margin: 0 0.5rem;
  }
  .contact-form .input100 {
    width: 100%;
    margin: 0 0.5rem;
  }
}
