:root {
  --primary-color: #f60f20;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  padding: 2rem 1rem;
}

.text-center {
  text-align: center;
}

/* button */
.btn {
  padding: 0.6rem 1.5rem;
  color: #fff;
  display: inline-block;
  transition: 0.4s transform ease;
  border: 0;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-primary {
  background: var(--primary-color);
}

a {
  text-decoration: none;
}

/* Margin and Padding */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.py-5 {
  padding: 5rem 0;
}
.py-6 {
  padding: 6rem 0;
}
